.Banner {
  /* width: 100%; */
  height: 800px;
  position: relative;
  background-image: url("../images/laptop.jpg");
  background-position: center;
  background-size: cover;
}

.BannerText {
  width: 50%;
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 20px;
}

.Banner h2 {
  margin: 0px;
  color: #ffffff;
  font-size: 50px;
  line-height: 1.2;
  opacity: 0;
  animation: BannerAnimation 3s cubic-bezier(0.075, 0.82, 0.2, 1) forwards;
}

.Banner p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  opacity: 0;
  animation: BannerAnimation 3s cubic-bezier(0.075, 0.82, 0.2, 1) 0.2s forwards;
}

.Banner button {
  cursor: pointer;
  margin-top: 15px;
  padding: 15px 30px;
  width: fit-content;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  outline: none;
  background-color: rgba(15, 76, 104, 0.541);
  color: white;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Banner button:hover {
  background-color: white;
  color: black;
  transform: translate(-2px, -5px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}

.Banner svg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

@keyframes BannerAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Logo {
  width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  z-index: 100;
}

.Logo img {
  width: 55px;
}

.Promo {
  height: 100px;
  margin: 125px auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Promo button {
  cursor: pointer;
  width: 200px;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: rgba(69, 157, 197, 0.774);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.Promo button:hover {
  transform: translate(-2px, -5px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.Promo h3 {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}

.Promo p {
  color: rgba(40, 51, 149, 0.8);
  line-height: 1.4;
  font-weight: 500;
}

.Course {
  text-align: center;
  padding: 30px 0px;
}

.CourseCard {
  width: 70vw;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Card {
  cursor: pointer;
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  color: #ffffff;
  text-align: left;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
}

.Card:hover img {
  transform: translateY(-10px);
}

.Card img {
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Card h3 {
  margin: 16px 0 0 16px;
  background-color: rgba(0, 0, 0, 0.25);
  height: fit-content;
  padding: 1px 10px;
}

.Card p {
  margin-left: 16px;
  align-self: end;
  background-color: rgba(0, 0, 0, 0.25);
  height: fit-content;
}
